In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../../Data/Sentimental_Analysis/go_emotions_dataset.csv')

In [6]:
data.isna().sum().sum()

0

In [7]:
data.columns

Index(['id', 'text', 'example_very_unclear', 'admiration', 'amusement',
       'anger', 'annoyance', 'approval', 'caring', 'confusion', 'curiosity',
       'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment',
       'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love',
       'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse',
       'sadness', 'surprise', 'neutral'],
      dtype='object')

In [8]:
len(data)

211225

In [9]:
data = data[data['example_very_unclear']==False]

In [10]:
len(data)

207814

In [12]:
data.drop(['id', 'example_very_unclear', 'admiration', 'amusement','annoyance', 'approval', 'caring', 'confusion', 'curiosity',
       'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment',
       'excitement', 'gratitude', 'grief',
       'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse',
       'surprise', 'neutral'],axis=1,inplace=True)

C:\Users\dell\AppData\Local\Temp\ipykernel_8020\3264790782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(['id', 'example_very_unclear', 'admiration', 'amusement','annoyance', 'approval', 'caring', 'confusion', 'curiosity',

In [14]:
data.head(5)

,text,anger,fear,joy,love,sadness
0,That game hurt.,0,0,0,0,1
2,"You do right, if you don't care then fuck 'em!",0,0,0,0,0
3,Man I love reddit.,0,0,0,1,0
4,"[NAME] was nowhere near them, he was by the Fa...",0,0,0,0,0
5,Right? Considering it’s such an important docu...,0,0,0,0,0

In [15]:
len(data)

207814

In [16]:
data.columns

Index(['text', 'anger', 'fear', 'joy', 'love', 'sadness'], dtype='object')

In [17]:
data = data[(data['anger']==1)|(data['fear']==1)|(data['joy']==1)|(data['love']==1)|(data['sadness']==1)]

In [18]:
len(data)

33114

In [19]:
data['emotion'] = 'sadness'

In [51]:
def emotion(row):
    if row['anger'] == 1:
        return 'anger'
    elif row['fear'] == 1:
        return 'fear'
    elif row['joy'] == 1:
        return 'joy'
    elif row['love'] == 1:
        return 'love'
    elif row['sadness'] == 1:
        return 'sadness'
    else:
        return 'none'

In [52]:
data['emotion']= data.apply(func=emotion,axis=1)

In [55]:
data.head(10)

,text,anger,fear,joy,love,sadness,emotion
0,That game hurt.,0,0,0,0,1,sadness
3,Man I love reddit.,0,0,0,1,0,love
29,So happy for [NAME]. So sad he's not here. Ima...,0,0,1,0,1,joy
37,"I just came home, what the fuck is this lineup...",0,0,0,1,0,love
43,By far the coolest thing I've seen on this thr...,0,0,1,0,0,joy
49,Sending love and strength vibes <3,0,0,1,0,0,joy
58,Me too! First time in a couple of years!,0,0,1,0,0,joy
63,"""Oh, how DARE you discuss the disgustingly unh...",1,0,0,0,0,anger
64,Which totally makes it less funny for a person...,0,0,1,0,0,joy
68,Press fucken charges the moment they use your ...,1,0,0,0,0,anger

In [56]:
data['emotion'].unique()

array(['sadness', 'love', 'joy', 'anger', 'fear'], dtype=object)

In [57]:
data.drop(['sadness', 'love', 'joy', 'anger', 'fear'],axis=1,inplace=True)

In [58]:
data.head(5)

                                                 text  emotion
0                                     That game hurt.  sadness
3                                  Man I love reddit.     love
29  So happy for [NAME]. So sad he's not here. Ima...      joy
37  I just came home, what the fuck is this lineup...     love
43  By far the coolest thing I've seen on this thr...      joy

In [59]:
len(data)

33114

In [ ]:
data.to_csv('../../Data/Sentimental_Analysis/go_emotions_dataset_preprocessed.csv')