In [90]:
import json
import pandas as pd
import numpy as np

In [91]:
f = open(u'../../Data/Topics/generation/Arabic-SQuAD.json')
data = json.load(f)

In [92]:
data = data['data']
questions = list()
answers = list()

In [93]:
for index in range(len(data)):
    paragraphs = data[index]['paragraphs']
    for i in range(len(paragraphs)):
        question_answer_list = paragraphs[i]['qas'] 
        for j in range(len(question_answer_list)):
            text = paragraphs[i]['context']
            questions.append(question_answer_list[j]['question'])
            answers.append(text[question_answer_list[j]['answers'][0]["answer_start"]:].split('.')[0])

In [94]:
f = open(u'../../Data/Topics/generation/arcd.json')
data = json.load(f)
data = data['data']

In [95]:
for index in range(len(data)):
    paragraphs = data[index]['paragraphs']
    for i in range(len(paragraphs)):
        question_answer_list = paragraphs[i]['qas'] 
        for j in range(len(question_answer_list)):
            text = paragraphs[i]['context']
            questions.append(question_answer_list[j]['question'])
            answers.append(text[question_answer_list[j]['answers'][0]["answer_start"]:].split('.')[0])

In [96]:
f = open(u'../../Data/Topics/generation/MLQA_V1/dev/dev-context-ar-question-ar.json')
data = json.load(f)
data = data['data']

In [97]:
for index in range(len(data)):
    paragraphs = data[index]['paragraphs']
    for i in range(len(paragraphs)):
        question_answer_list = paragraphs[i]['qas'] 
        for j in range(len(question_answer_list)):
            text = paragraphs[i]['context']
            questions.append(question_answer_list[j]['question'])
            answers.append(text[question_answer_list[j]['answers'][0]["answer_start"]:].split('.')[0])

In [98]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [99]:
import pandas as pd

In [100]:
data = pd.read_excel(r'../../Data/Topics/generation/AQA_dataset.xlsx')
for q in list(data.question):
    questions.append(q)
for a in list(data.answer):
    answers.append(a)

In [101]:
data = pd.read_excel(r'../../Data/Topics/generation/DAWQAS_Masun_Nabhan_Homsi.xlsx')
for q in list(data.Question):
    questions.append(q)
for a in list(data.Answer):
    answers.append(a)

c:\Python310\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [102]:
data = pd.read_excel(r'../../Data/Topics/generation/updated_Trec_dataset.xlsx')
for q in list(data.question):
    questions.append(q)
for a in list(data.answer):
    answers.append(a)

In [103]:
data = pd.read_excel(r'../../Data/Topics/generation/updated_clef_dataset.xlsx')
for q in list(data.question):
    questions.append(q)
for a in list(data.answer):
    answers.append(a)

In [104]:
len(questions)

56327

In [105]:
len(answers)

56327

In [106]:
question = pd.DataFrame({"sentence":questions,'class':"Q"})

In [107]:
question.head(5)

                               sentence class
0                 ما هو ASCII على أساس؟     Q
1  كم شخصيات محددة موجودة في كود ASCII؟     Q
2       كم عدد أحرف التحكم غير الطباعة؟     Q
3              كم شخصيات قابلة للطباعة؟     Q
4  ما هو الفضاء المعروف أيضا باسم ماذا؟     Q

In [108]:
answer = pd.DataFrame({"sentence":answers,'class':"A"})

In [109]:
answer.head(5)

                                            sentence class
0  الأبجدية الإنجليزية ، ويقوم بترميز 128 حرف ا م...     A
1  128 حرف ا محدد ا في أعداد صحيحة من سبعة أجزاء ...     A
2  33 حرف ا تحكم ا غير الطباعة العديد منها الآن ق...     A
3  95 حرف ا قابلا للطباعة ، بما في ذلك المساحة ال...     A
4                                رسم ا غير مرئي 223      A

In [111]:
data = pd.concat([question,answer])

In [112]:
data.head(2)

                               sentence class
0                 ما هو ASCII على أساس؟     Q
1  كم شخصيات محددة موجودة في كود ASCII؟     Q

In [113]:
data.tail(2)

       sentence class
56325    بلغراد     A
56326  لين بياو     A

In [114]:
data = data.sample(frac=1)

In [115]:
data.head(5)

                                                sentence class
29770   ما المقاطعة التي حاولت Plymouth دون نجاح رؤيتها؟     Q
19089                                   400 مليون دولار      A
42716              في أي عام افتتحت نيودلهي عاصمة الهند؟     Q
36516       في أي عام تم نشر القاموس المولدوفي الروماني؟     Q
33100  ، 000 يهودي داخل المدينة و 227 ، 000 داخل منطق...     A

In [ ]:
data.to_csv("QorNot.csv",index=False)